
.registration{
	 text-align: center;
}

.main-content .form-group {
	margin-left: 0 !important;
    margin-right: 0 !important;
}

.form-group .control-label{
	width: 100%;
	padding: 0;
}

.form-reg-hed{
	text-align: center;
    font-size: 25px;
    font-weight: 500;
    background: #5B6E84;
	width: 97%;
    color: white;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 5%;
}

/*
.form-horizontal.tasi-form .form-group{
	    border-bottom: 1px solid #DADFE1;
}
*/

.tasi-form{
	    border-bottom: 1px solid #DADFE1;
}

.new-bread{
	background-color: #2A3542;
	margin-left: 0%;
}

.new-bread ul li a{
	color: #aeb2b7;
}

.new-bread ul li a i{
	color: #aeb2b7;
}

/*
.create-form-body{
	padding-top: 85px;
    background: #D2D7D3;
}
*/

.special-required{
	color: red;
}

.form-reg-hed-leave{
	text-align: center;

}

.bed-cum-position{
	position: absolute;
top: 60px;
    width: 91%;
    left: 9%;
}

.top-hover:hover{
	color: white;
}

@media screen and (max-width: 1283px) {
    .bed-cum-position{
        max-resolution: 2%;
		overflow: hidden;
    }
}

@media screen and (max-width: 1240px) {
    .bed-cum-position{
        margin-left: 6%;
		overflow: hidden;
		width: 85%;
    }
}
@media screen and (max-width: 1200px) {
    .bed-cum-position{
        margin-left: 7%;
		overflow: hidden;
		width: 84%;
    }
	.form-reg-hed{
		    width: 90%;
		    margin-left: 6%;
	}
}

@media screen and (max-width: 860px) {
    .bed-cum-position{
        margin-left: 8%;
		overflow: hidden;
    }
}


@media screen and (max-width: 900px) {
    .bed-cum-position{
        margin-left: 0%;
		overflow: hidden;
		width: 91%;

    }
	.form-reg-hed{
		    width: 90%;
		    margin-left: 6%;
	}
	

}


@media screen and (max-width: 400px) {
    .bed-cum-position{
        margin-left: 0%;
		overflow: hidden;
		width: 80%;

    }
	.form-reg-hed{
		    width: 85%;
		    margin-left: 6%;
	}
	

}

@media screen and (max-width: 1200px) {

	.form-reg-hed-leave{
		    width: 90%;
		    margin-left: 6%;
	}
}



@media screen and (max-width: 400px) {

	.form-reg-hed-leave{
		    width: 85%;
		    margin-left: 6%;
	}
	

}



@media screen and (max-width: 900px) {

	.form-reg-hed-leave{
		    width: 93%;
		    margin-left: 4%;
	}
	

}


/*data table css*/

.adv-table table tr td img .profile-pic{
	border-radius: 50%;
    margin-left: 50%;
}

.btn-xs{
	margin: 0 4px;	
}

.wrapper{
	margin-top: 0;
	min-height: 700px;
}

.panel-heading{
   font-weight: 600;
}


/*profile view*/
.bio-desk{
	padding-left: 10px;
}

.message{
   white-space: normal;
  text-align: justify;
}

.regular-btn{
    padding: 5px 10px !important;
   font-size: 15px !important;
}
