registration{
    text-align: center;
}
.modal-header {
    background: #f5f5f5;
    color: #000;

}
.main-content .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.custom-notif{

    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;

}
.form-group .control-label{
    width: 100%;
    padding: 0;
}

.form-reg-hed{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    background: #5B6E84;
    width: 97%;
    color: white;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 5%;
}
.form-control {
    color: #848484;
}

.form-horizontal.tasi-form .form-group {
    border-bottom: 0; 
    padding-bottom: 0px;
    margin-bottom: 20px;
}


.tasi-form{
    border-bottom: 1px solid #DADFE1;
}

.new-bread{
    background-color: #fff;
    margin-top: 10px;
    margin-left: 0%;
}

.breadcrumb>.active{
    color: #999;
}
.new-bread ul li a{
    color: #aeb2b7;
}

.new-bread ul li a i{
    color: #aeb2b7;
}

/*
.create-form-body{
        padding-top: 85px;
    background: #D2D7D3;
}
*/

.special-required{
    color: red;
}

.form-reg-hed-leave{
    text-align: center;

}

.bed-cum-position{
    position: absolute;
    top: 60px;
    width: 91%;
    left: 10%;
}

.top-hover:hover {
    color: #525858;
}
.new-bread a i{
    margin-right: 5px;
}
@media screen and (max-width: 1283px) {
    .bed-cum-position{
        max-resolution: 2%;
        overflow: hidden;
    }
}

@media screen and (max-width: 1240px) {
    .bed-cum-position{
        margin-left: 6%;
        overflow: hidden;
        width: 85%;
    }
}
@media screen and (max-width: 1200px) {
    .bed-cum-position{
        margin-left: 7%;
        overflow: hidden;
        width: 84%;
    }
    .form-reg-hed{
        width: 90%;
        margin-left: 6%;
    }
}

@media screen and (max-width: 860px) {
    .bed-cum-position{
        margin-left: 8%;
        overflow: hidden;
    }
}


@media screen and (max-width: 900px) {
    .bed-cum-position{
        margin-left: 0%;
        overflow: hidden;
        width: 91%;

    }
    .form-reg-hed{
        width: 90%;
        margin-left: 6%;
    }


}
.link-body{
    padding-left: 15px;
    padding-top: 15px;
}
.btn {

    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 8px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.btn-file {

    border: 1px solid #e2e2e4 !important;
}
.gender-inline .radios label {

    cursor: pointer;
    line-height: 20px;
    padding-bottom: 7px;
    font-weight: 500;
    float: left;
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
}
@media screen and (min-width:768px){
    .gender-inline .radios label {
        float: left;
        display: inline-block;
        font-size: 14px;
        margin-right: 20px;
    }
}


@media screen and (max-width: 767px) {

    .tasi-form{
        padding: 50px 0px;
    }

    .lock-input {

        margin-bottom: 5px;
    }
    .btn-lock, .btn-lock:hover {

        margin-top: 16px;
    }

    .site-footer {

        margin-left: 0px; 

    }
    .m-bot15 {
        margin-bottom: 15px;
    }

    .datepicker {
        left: 30px !important;

    }
    ul.sidebar-menu {
        margin-top: 70px !important;
    }

    .bio-row {
        width: 100%;
        float: left;
        margin-bottom: 10px;
        padding: 0 15px;
    }
}
@media screen and (max-width: 400px) {

    .form-reg-hed{
        width: 85%;
        margin-left: 6%;
    }

    .lock-input {
        margin-bottom: 5px;
    }


}

@media screen and (max-width: 1200px) {

    .form-reg-hed-leave{
        width: 90%;
        margin-left: 6%;
    }
}



@media screen and (max-width: 400px) {

    .form-reg-hed-leave{
        width: 85%;
        margin-left: 6%;
    }


}



@media screen and (max-width: 900px) {

    .form-reg-hed-leave{
        width: 93%;
        margin-left: 4%;
    }


}


/*data table css*/

.adv-table table tr td img .profile-pic{
    border-radius: 50%;
    margin-left: 50%;
}

.btn-xs{
    margin: 0 4px;
    padding: 4px 8px;

}

.wrapper{
    margin-top: 0;
    min-height: 100vh;

}

.panel-heading{
    font-weight: 600;
    padding-bottom: 12px;
}


/*profile view*/
.bio-desk{
    padding-left: 10px;
}

.profile-pic-chart{
    padding: 0 8px 0 0px;
}

.bio-chart{
    margin-top: 1%;
}


/*style for merits and demerits area*/


.panel-heading .nav > li.active > a, .panel-heading .nav > li > a{

}

.panel-heading .nav > li.active > a, .panel-heading .nav > li > a:hover{
    /*
            color: white;
        background: #AEC785;
    */
}



.message{
    white-space: normal;
    text-align: justify;
}

.regular-btn{
    padding: 5px 10px !important;
    font-size: 15px !important;
}


.dropdown-for-fixed-height {
    /*	height: 324px;*/
}

.note-paragraph{
    padding: 10px;
}

.btn-sm{
    background: #FF766C;
    color: white;
}

.btn-sm:hover{
    background: #A9D86E;
    color: white;
}

.image-upload{
    position: relative;
}

.image-upload i{
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 26px;
    color: #c9cec8;
    padding: 8px;
}

.image-upload i:hover{
    color: #336E7B;
}

.modal-footer{
    border: 0 !important;
}

.modal-data-table{
    width: 750px;
}

.main-con{
    margin-left: 0;
    padding-top: 0;
}

.tasi-form2{
    padding: 30px 0;
}

.prio-radio{
    padding-top: 0;
}
.prio-radio label{    
    float: left;
    padding: 0 16px;
}

.alignment th{
    text-align: center;
}

.panel-heading-2{
    position: relative;
}

.link-all-notice{
    position: absolute;
    right: 2%;
    top: 0;
}

.link-all-notice:hover{
    background: #EC6459;
    border: 0;

}

.link-all-notice i{
    font-size: 27px;

}

.modal-body{
    z-index: 1;
}

.select2 .select2-container{
    width: 100%;
}

.badge {
    display: block;
    margin-top: -29px;
    position: absolute;
    margin-left: -14px;
}
.bold{
    font-weight: 700;
    padding: 20px 0;
}
.date-specify span{
    color: #39B2A9;
}

.add-new-button{
    border-radius: 48%;
    height: 65px;
    width: 65px;
    line-height: 70px;
    position: absolute;
    bottom: 0;
    right: 2%;
    z-index: 2;
}

.add-new-button i{
    font-size: 39px;
}

.link-body a:hover{
    background: #FF6C60;
    border: none;
}

.link-body a i{
    font-size: 24px;
}
.event-buutton{
    font-size: 19px;
}

.edit-update-event{
    /*	position: relative;*/
}

.edit-update-event a{

}

.inbox-body {
    padding: 0 20px;
}

ul.sidebar-menu {
    margin-top: 100px !important;
}

.dropdown-for-fixed-height{
    height: 324px;	
}
.see-message{

}


/*masud 23-8-16*/


.borderless.table>tbody>tr>th,.borderless.table>tbody>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 0px; 
}
.borderless.table>tbody>tr>th {
    width: 230px;
    overflow: hidden;
}


.form-horizontal .control-label {
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #525858 ;
    text-align: left;
}

